.backbutton {
  padding-top: 3em;
    padding-left: 7.5em;
    color: darkgray;
}

.paymentitems {
    padding-left: 7.5em;
}

.paymentdetails {
    text-align: center;
}

.payinfo {
    background-color: darkgrey;
}

.form {
    width: 87%;
}

.secondrow {
    width: 87%;
}

.paybutton {
    text-align: center;
}

.itemTitle {
  font-size: 36px;
  font-weight: bold;
}
