.backbutton {
    padding-left: 1.5em;
}

.paymentitems {
    padding-left: 1.5em;
}

.paymentdetails {
    text-align: center;
}

.paytitle {
    text-align: left;
}

.form {
    width: 87%;
}

.secondrow {
    width: 87%;
}

.paybutton {
    text-align: center;
}